.app-container
  min-height: 100vh
  display: flex
  flex-flow: column

main
  flex: 1
  display: flex
  padding: 1em

footer
  padding: 1em

.left-side-bar
  width: 20em
  display: flex
  flex-direction: column

#display
  width: 100%
