body {
  background-color: white;
}


ul {
  list-style: none;
}
#root {
  display: flex;
  min-height: 100vh;
}

#display {
  height: 100%;
  width: 100%;
}

#display div{
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex: 1;
}

.contact {
  background-color: green;
}

.accounts {
  background-color: red;
}

.budget {
  background-color: blue;
}
